/* header banner section style  */
.banner {
    background-image: url(../images/bg.jpg), url(../images/grediant.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

/* navbar text  */
.icons {
    background-color: wheat;
}

.text li {
    padding: 0 15px;
}

.button {
    padding: 10px 30px;
}

.borders {
    border-bottom: 1px solid;
    width: 50px;
}

/* footer */
.link-style a {
    text-decoration: none;
    color: white;
}